<!DOCTYPE html>
<html>
  <head>
    <title>Leave your message</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1>Leave your message</h1>
    <form method="POST" action="/new">
      <label for="user">Name</label>
      <input type="text" name="user" id="user">
      <label for="text">Message</label>
      <input type="text" name="text" id="text">
      <button type="submit">Submit</button>
   </form>
  </body>
</html>
