body {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
  margin: 0;
  padding: 20px;
}

h1 {
  color: #333;
}

.created-by-bar {
  background-color: #f1f1f1;
  padding: 10px;
  text-align: center;
}

.created-by-bar p {
  margin: 0;
  font-size: 14px;
  color: #333;
}

.created-by-bar a {
  color: #333;
  text-decoration: none;
  font-weight: bold;
}

.created-by-bar a:hover {
  text-decoration: underline;
}

form {
  margin-top: 20px;
}

input[type="text"],
textarea {
  width: calc(100% - 20px);
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: none;
}

button, .cancel-button {
  padding: 10px 20px;
  background-color: #4287f5;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: inherit;
  
}

button:hover, .cancel-button:hover {
  background-color: #1f5ad1;
}

main {
  margin-top: 20px;
}

a {
  text-decoration: none;
}

.card {
  background-color: #ffffff;
  border-radius: 4px;
  padding: 20px;
  margin-bottom: 20px;
}

.message {
  margin-bottom: 10px;
}

.name {
  font-weight: bold;
}

.timestamp {
  font-style: italic;
  color: #888;
}